name: other-branches

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: configure git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - run: npm ci

      - uses: nrwl/nx-set-shas@v3
      - run: npx nx affected -t build,test,e2e
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
